/* Footer */

footer {
color: #ffffff;
padding: 20px 0;
position: fixed;
bottom: 0;
width: 100%;
}
.cp-right P{
margin:0;
padding:10px 0;
font-size:12px;
}
.cp-right P a{
 font-weight:700;
}
.cp-right P a{
 text-decoration:none;
}

/* ========== Footer ======= */
.list-inline > li {
display: inline-block;
}
.list-inline > li a i{
 vertical-align:middle;
 line-height: 36px;
font-size: 18px;
}
.socIcon{
width: 36px;
height: 36px;
display:block;
color:#fff;
text-align:center;
animation-duration: 750ms;
  -webkit-animation-duration: 750ms;
  -moz-animation-duration: 750ms;
  -ms-animation-duration: 750ms;
  -o-animation-duration: 750ms;
  -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    -ms-animation-delay: 1000ms;
    -o-animation-delay: 1000ms;
        animation-iteration-count: 1;
        -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -ms-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
border-radius:100%;
-webkit-border-radius:100%;
-moz-border-radius:100%;
-ms-border-radius:100%;
-o-border-radius:100%;
}
.socIcon:hover{
color:#242424;
background:#fff;
}
.socIconBlack{
width: 36px;
height: 36px;
display:block;
color:#242424;
text-align:center;
animation-duration: 750ms;
  -webkit-animation-duration: 750ms;
  -moz-animation-duration: 750ms;
  -ms-animation-duration: 750ms;
  -o-animation-duration: 750ms;
  -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    -ms-animation-delay: 1000ms;
    -o-animation-delay: 1000ms;
        animation-iteration-count: 1;
        -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -ms-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
border-radius:100%;
-webkit-border-radius:100%;
-moz-border-radius:100%;
-ms-border-radius:100%;
-o-border-radius:100%;
}
.socIconBlack i{
	max-width: 4em;
}
.socIconBlack:hover{
color:#fff;
background:#242424;
}
