
@media screen and (min-width:240px) and (max-width: 1024px){
.vert-text {
padding: 48px 0;
    }
.vert-text h1 {
font-size: 48px;
    }
.vert-text h2 {
font-size: 36px;
    }
}
@media screen and (min-width:240px) and (max-width: 991px){
.cp-right, ul.list-inline{
 text-align:center;
    }
footer .build{
     padding:0;
    }
footer{
     position:relative;

    }
    #boxWrapp{
width:100%;
height: auto;
    }
html,
body {
height:auto;
    }
.btn-clear{
 margin:0 3px;
}
}


@media screen and (min-width:240px) and (max-width: 767px){
.modal-header .close {
top: -3px;
right: -3px;
}
.btn-clear{
     margin:0 3px !important;
    }
}
@media screen and (min-width:240px) and (max-width: 480px){

.vert-text {
padding: 48px 0;
    }
.vert-text h1 {
font-size: 24px;
    }
.vert-text h2 {
font-size: 18px;
    }
footer{
     padding:0;
    }

}


@media screen and (min-width:240px) and (max-width: 330px){
    .vert-text h1 {
    font-size: 30px !important;
        }
    .vert-text p{
    font-size: 1.5em !important;
        }
}
